# .github/CODEOWNERS
# Read more about CODEOWNERS: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# ASSET MANAGER
/assets/ @A01412942

# ADMIN/OWNER
*      @TEC-Andres
