# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.dll

# Asset creation
assets/assetsScript/

# Structure files
drafts/

# Standalone json files that are topmost in the project structure
/*.json

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls

# texmake build cache
__texcache__/

# PDFs 
*.pdf

# AGENTS
AGENTS.md
CLAUDE.md
GEMINI.md

# (py2 ignore these files for now, draft files)
*.py2